GridBackground {
    --grid-background-color: #1a1a1a;
    --line-color: #2a2a2a;
    --thick-line-color: #3a3a3a;
    --spacing: 20;
}

.node {
    min-width: 180px;
}

.node #title {
    background-color: #3a3a3a;
}

.node #contents {
    background-color: #2d2d2d;
}

.node .port {
    height: 24px;
}

.node #input {
    background-color: #2d2d2d;
}

.node #output {
    background-color: #2d2d2d;
}

#node-border {
    border-radius: 8px;
}
